<md-card layout-gt-sm-lg="row" flex-lg="60" flex-offset-lg="20" >
    <div class="text-center">
        <h3>Cadastro de Usuário</h3>
    </div>
    <form name="userForm" class="pad10">
        <div layout-gt-sm="row">
            <md-input-container class="md-block pad10" flex-gt-sm>
                <label>Nome completo</label>
                <input ng-model="cadastroCtrl.novoUsuario.nome" required>
            </md-input-container>
            <md-input-container class="md-block pad10" flex-gt-sm>
                <label>CPF</label>
                <input ng-model="cadastroCtrl.novoUsuario.cpf" required ui-br-cpf-mask>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block pad10" flex-gt-sm>
                <label>Data de nascimento</label>
                <input type="date" ng-model="cadastroCtrl.novoUsuario.bdate" >
            </md-input-container>
            <md-input-container class="md-block pad10" flex-gt-sm>
                <label>Peso (Kg)</label>
                <input type="number" ng-model="cadastroCtrl.novoUsuario.peso" >
            </md-input-container>
            <md-input-container class="md-block pad10" flex-gt-sm>
                <label>UF</label>
                <md-select ng-model="cadastroCtrl.ufSelected">
                    <md-option ng-repeat="uf in cadastroCtrl.ufList" ng-value="uf.geonameId">
                        {{uf.toponymName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-sm="row" class="pad10">
            <md-button class="md-primary md-raised" ng-disabled="userForm.$invalid" ng-click="cadastroCtrl.save()" aria-label="Salvar cadastro">Cadastrar</md-button>
        </div>
    </form>
</md-card>